.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  .App-header Button{
      transition-duration: 0.4s;
      background-color: #4b3331;
      border-radius: 8px;
      font-size: 30px;
      color:rgb(83, 218, 150)
  }

  .App-header Button:hover{
    background-color: #c75235;
    color: rgb(220, 243, 243);
    
  }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
