.main{
    display: flexbox;
    flex-wrap: wrap;
   
}


.widget-1 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    background-color: rgb(218, 53, 53);
    margin-left: 3%;
    margin-top: 2%;
    padding: 5% 7% ;
  }
  
  
  .widget-1:hover {
    box-shadow: 0 10px 20px 0 rgba(135, 253, 0, 0.2);
  }
  

.container-1 {
    padding: 2px 16px;
    color: rgb(0, 0, 0);
}

.widget-2 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    background-color: rgb(218, 53, 53);
    margin-left: 3%;
    margin-top: 2%;
    padding: 5% 10% 10%;
  }
  
  
  .widget-2:hover {
    box-shadow: 0 10px 20px 0 rgba(135, 253, 0, 0.2);
  }
  

.container-2 {
    padding: 2px 16px;
    color: rgb(0, 0, 0);
}


.widget-3 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    background-color: rgb(218, 53, 53);
    margin-left: 3%;
    margin-top: 2%;
    padding: 5% 7% 8%;
  }
  
  
  .widget-3:hover {
    box-shadow: 0 10px 20px 0 rgba(135, 253, 0, 0.2);
  }
  

.container-3 {
    padding: 2px 16px;
    color: rgb(0, 0, 0);
}


.widget-4 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    background-color: rgb(218, 53, 53);
    margin-left: 3%;
    margin-top: 2%;
    padding: 6% 7% ;
  }
  
  
  .widget-4:hover {
    box-shadow: 0 10px 20px 0 rgba(135, 253, 0, 0.2);
  }
  

.container-4 {
    padding: 2px 16px;
    color: rgb(0, 0, 0);
}


.widget-5 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    background-color: rgb(218, 53, 53);
    margin-left: 3%;
    margin-top: 2%;
    padding: 5% 10% 2%;
  }
  
  
  .widget-5:hover {
    box-shadow: 0 10px 20px 0 rgba(135, 253, 0, 0.2);
  }
  

.container-5 {
    padding: 2px 16px;
    color: rgb(0, 0, 0);
}


.widget-6 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    background-color: rgb(218, 53, 53);
    margin-left: 3%;
    margin-top: 2%;
    padding: 5% 7% 4%;
  }
  
  
  .widget-6:hover {
    box-shadow: 0 10px 20px 0 rgba(135, 253, 0, 0.2);
  }
  

.container-6 {
    padding: 2px 16px;
    color: rgb(0, 0, 0);
}


@media only screen and (max-width: 1242px) {
  }
